// paginations
$pagination-color: $black;
$pagination-bg: $white;
$pagination-border: $white;

$pagination-hover-color: $black;
$pagination-hover-bg: $gray-300;
$pagination-hover-border: $white;

$pagination-active-color: $black;
$pagination-active-bg: $gray-300;
$pagination-active-border: $white;

$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $white;
$pagination-disabled-border: $white;